<div class="button-row d-flex justify-content-between w-75 mx-auto text-muted py-2">
    <!-- rply button -->

    <button class="post-icon rply-btn" data-bs-toggle="modal" data-bs-target="#rplyModal">
        <i class="fa fa-comments-o"></i> <span class="ms-2">
            <%=post.replies.length || ''%> 
        </span>
    </button>
    <!-- retweet button -->
    <div class="dropdown">
        
            <button class="post-icon retweet-btn  <%=post.retweetUsers.includes(user._id) && 'active' %> " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <svg height="20" class="rewtweet-icon" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg"><g id="Layer_35" data-name="Layer 35"><path d="m2 20v-10a5 5 0 0 1 5-5h19l-1.6-1.2a1 1 0 1 1 1.2-1.6l4 3a1 1 0 0 1 0 1.6l-4 3a1 1 0 0 1 -.6.2 1 1 0 0 1 -.8-.4 1 1 0 0 1 .2-1.4l1.6-1.2h-19a3 3 0 0 0 -3 3v10a1 1 0 0 1 -2 0zm27-9a1 1 0 0 0 -1 1v10a3 3 0 0 1 -3 3h-19l1.6-1.2a1 1 0 0 0 -1.2-1.6l-4 3a1 1 0 0 0 0 1.6l4 3a1 1 0 0 0 .6.2 1 1 0 0 0 .8-.4 1 1 0 0 0 -.2-1.4l-1.6-1.2h19a5 5 0 0 0 5-5v-10a1 1 0 0 0 -1-1z"/></g></svg>


            </i> <span class="ms-2">
                <%=post.retweetUsers.length || ''%> 
            </span> 
        </button>
        <ul class="dropdown-menu dropdown-menu-center retweet-dropdown text-dark-grey" aria-labelledby="dropdownMenuButton1">
            <li><h6 class="dropdown-header">Retweet Actions</h6></li>
          <li>
              <form action="/posts/retweet" method="post">
                  
                  <input type="hidden" name="postId" value="<%=post._id%>">
                  <% if (post.retweetUsers.includes(user._id)) { %>
                    <button class="dropdown-item send-retweet-req-btn " type="submit">
                        <svg height="20" class="rewtweet-icon" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg"><g id="Layer_35" data-name="Layer 35"><path d="m2 20v-10a5 5 0 0 1 5-5h19l-1.6-1.2a1 1 0 1 1 1.2-1.6l4 3a1 1 0 0 1 0 1.6l-4 3a1 1 0 0 1 -.6.2 1 1 0 0 1 -.8-.4 1 1 0 0 1 .2-1.4l1.6-1.2h-19a3 3 0 0 0 -3 3v10a1 1 0 0 1 -2 0zm27-9a1 1 0 0 0 -1 1v10a3 3 0 0 1 -3 3h-19l1.6-1.2a1 1 0 0 0 -1.2-1.6l-4 3a1 1 0 0 0 0 1.6l4 3a1 1 0 0 0 .6.2 1 1 0 0 0 .8-.4 1 1 0 0 0 -.2-1.4l-1.6-1.2h19a5 5 0 0 0 5-5v-10a1 1 0 0 0 -1-1z"/></g></svg>
                         Undo Retweet
                    </button>
                   <% }else { %>
                    <button class="dropdown-item send-retweet-req-btn " type="submit">
                        <svg height="20" class="rewtweet-icon" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg"><g id="Layer_35" data-name="Layer 35"><path d="m2 20v-10a5 5 0 0 1 5-5h19l-1.6-1.2a1 1 0 1 1 1.2-1.6l4 3a1 1 0 0 1 0 1.6l-4 3a1 1 0 0 1 -.6.2 1 1 0 0 1 -.8-.4 1 1 0 0 1 .2-1.4l1.6-1.2h-19a3 3 0 0 0 -3 3v10a1 1 0 0 1 -2 0zm27-9a1 1 0 0 0 -1 1v10a3 3 0 0 1 -3 3h-19l1.6-1.2a1 1 0 0 0 -1.2-1.6l-4 3a1 1 0 0 0 0 1.6l4 3a1 1 0 0 0 .6.2 1 1 0 0 0 .8-.4 1 1 0 0 0 -.2-1.4l-1.6-1.2h19a5 5 0 0 0 5-5v-10a1 1 0 0 0 -1-1z"/></g></svg>
                        Quick Retweet
                    </button>
                   <% } %> 
                

            </form>
            
        </li>
          <li><button  class="dropdown-item <%=post.retweetUsers.includes(user._id) && 'disabled' %>   retweet-modal-btn" data-bs-toggle="modal" data-bs-target="#retweetModal">
            <i class="fa fa-pencil-square-o"></i>
            Add a Quote</button></li>
        </ul>
      </div>


    <button class="post-icon like-btn" >
        <div>
            <div class="">
                <input type="checkbox" name="checkbox-heart" class="checkbox-heart "
                <%= post.likes.includes(user._id)?'checked':''%>
                              
                />
                <label for="checkbox-heart">
                    <%- include('./_heart') %> 
                </label>
            </div>
        </div>
        <span class="heart-span">
            <%=post.likes.length || ''%> </>
        </span>
    </button>
    </div>